<input type="radio" name="wiki" value="<%=wikipediaUrl%>" /><small style="height: 0.5em">Bind</small>
<br/><strong><%=title%></strong><small style="height: 0.5em">(<%=feature%>)</small><br/><small><%=summary%></small><br/><a href="<%=wikipediaUrl%>">Read more..</a>