<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<% javascript_include_tag "https://js.pusher.com/1.12/pusher.min.js" %>
		<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCaZbAvvE0z0Go_SOeivdAxwakkrXC8GVU&sensor=false" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render "layouts/shim" %>
	</head>
	<body>
		<%= render "layouts/header"%>
		<div id="wrapper">

			<div id="pageContainer">

				<%= yield %>
			</div>

		</div>
		<%= render "layouts/footer" %>

	</body>
</html>
